@charset "UTF-8";



body{
    
    background-repeat: no-repeat;
    height: 95.6vh;

    font-family: Arial, Helvetica, sans-serif;
    
}
h1{
    text-align: center;
    color: white;

    text-shadow: 2px 0px 6px rgba(0, 0, 0, 0.357);
}

section#elementos{
    
    background-color: white;
    
    display: block;
    width: 450px;

    margin: auto;
    padding: 10px 0px;
    padding-bottom: 25px;

    text-align: center;
    border-radius: 10px;

    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.526);
}



div#imagem{
    

    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;

    box-shadow: inset 3px 5px 7px rgba(0, 0, 0, 0.405);
    
}
p#nome{
    text-align: center;
    color: white;

    font-size: 10pt;
}
 


