@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(6, 6, 25);
}
header>h1{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    width: 220px;
    
    display: block;

    margin: auto;
    border-radius: 10px;

    padding: 20px;
    
}
#res{
    margin: 15px;
    display: block;
    margin-left: 100px;
    font-size: 20pt;
}
#display{
    border: 3px solid black;
    width: 100%;
    padding: 0px;
}
#calc{
    width: 100%;
}
#calc p {
    margin: 3px;
    box-sizing: border-box;
}
button{
    width: 50px;
    height: 50px;
    background-color: black;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}
#res{
    
    width: 100px;
    height: 25px;
    
    text-align: end;
     
}
#zero, #igual{
    width: 48%;
    background-color: rgb(165, 110, 42);
    border: none;
}


footer{
    color: white;
    text-align: center;
    font-size: 12pt;
}